.pointer {
    cursor: pointer !important;
}

input[type="checkbox"], input[type="checkbox"] + label {
    cursor: pointer !important;
}

.btn-outline-primary, .btn-outline-danger {
    border-color: transparent;
}

.btn-outline {
    &-primary,
    &-danger,
    &-info {
        border-color: transparent;
    }
}
