<div>
    <h2>
        <span jhiTranslate="flashcardsApp.card.home.title">Cards</span>
        <button class="btn btn-primary float-right jh-create-entity create-card"
                [routerLink]="['/', { outlets: { popup: ['card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="d-none d-sm-inline" jhiTranslate="flashcardsApp.card.home.createLabel">
                Create new Card
            </span>
            <span class="d-sm-none" jhiTranslate="flashcardsApp.card.home.shortCreateLabel">
                Create
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cards">
        <table class="table table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="front"><span jhiTranslate="flashcardsApp.card.front">Front</span> <span
                    class="fa fa-sort"></span></th>
                <th class="d-none d-md-table-cell" jhiSortBy="back"><span
                    jhiTranslate="flashcardsApp.card.back">Back</span> <span
                    class="fa fa-sort"></span></th>
                <th class="d-none d-lg-table-cell" jhiSortBy="known"><span
                    jhiTranslate="flashcardsApp.card.known">Known</span> <span
                    class="fa fa-sort"></span></th>
                <th class="d-none d-lg-table-cell" jhiSortBy="enabled"><span jhiTranslate="flashcardsApp.card.enabled">Enabled</span>
                    <span
                    class="fa fa-sort"></span></th>
                <th class="d-none d-sm-table-cell"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td>
                    <jhi-latex [equation]="card.front"></jhi-latex>
                </td>
                <td class="d-none d-md-table-cell">
                    <jhi-latex [equation]="card.back"></jhi-latex>
                </td>
                <td class="checkbox pointer d-none d-lg-table-cell" (click)="changeKnown(card, card.known)">
                    <div class="checkbox pointer">
                        <input class="pointer" (ngModelChange)="changeKnown(card, card.known)"
                               id="field_known_{{card.id}}" type="checkbox"
                               name="field_known_{{card.id}}"
                               [ngModel]="card.known">
                        <label for="field_known_{{card.id}}"></label>
                    </div>
                </td>
                <td class="checkbox pointer d-none d-lg-table-cell" (click)="changeEnabled(card, card.enabled)">
                    <div class="checkbox pointer">
                        <input class="pointer" (ngModelChange)="changeEnabled(card, card.enabled)"
                               id="field_grouping_{{card.id}}" type="checkbox"
                               name="field_grouping_{{card.id}}"
                               [ngModel]="card.enabled">
                        <label for="field_grouping_{{card.id}}"></label>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group-vertical btn-group-toggle">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-primary btn-xs">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-danger btn-xs">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
