<div *ngIf="card" class="p-1">
    <div class="d-none d-xl-block">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row pb-1 pb-sm-2 pb-md-2 pb-xl-3">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="flip()">
                            <span class="fa fa-exchange"></span>
                            <span jhiTranslate="flashcardsApp.randomCard.flip">Flip</span>
                        </button>
                        <button *ngIf="!lastCard" class="btn btn-primary" (click)="next()">
                            <span class="fa fa-arrow-right"></span>
                            <span jhiTranslate="flashcardsApp.randomCard.next">Next</span>
                        </button>
                    </div>
                </div>
                <jhi-alert></jhi-alert>
                <div *ngIf="lastCard" class="alert alert-warning" jhiTranslate="flashcardsApp.randomCard.lastCard">
                    Last card 👍
                </div>
                <div class="card p-4 pointer" (click)="flip()">
                    <blockquote class="blockquote mb-0 card-body">
                        <h2 *ngIf="!flipped" class="text-center">
                            <jhi-latex [equation]="card.front"></jhi-latex>
                        </h2>
                        <p *ngIf="flipped">
                            <jhi-latex [equation]="card.back"></jhi-latex>
                        </p>
                    </blockquote>
                </div>
                <div class="row pt-1 pt-sm-2 pt-md-2 pt-xl-3">
                    <div class="col-auto mr-auto">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-secondary" (click)="known(card.id)">
                            <span class="fa fa-check"></span>
                            <span jhiTranslate="flashcardsApp.randomCard.known">Known</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-xs-block">
        <div class="row pb-1 pb-sm-2 pb-md-2 pb-xl-3">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button class="btn btn-primary" (click)="flip()">
                    <span class="fa fa-exchange"></span>
                    <span jhiTranslate="flashcardsApp.randomCard.flip">Flip</span>
                </button>
                <button *ngIf="!lastCard" class="btn btn-primary" (click)="next()">
                    <span class="fa fa-arrow-right"></span>
                    <span jhiTranslate="flashcardsApp.randomCard.next">Next</span>
                </button>
            </div>
        </div>
        <jhi-alert></jhi-alert>
        <div *ngIf="lastCard" class="alert alert-warning" jhiTranslate="flashcardsApp.randomCard.lastCard">
            Last card 👍
        </div>
        <div *ngIf="!flipped" class="text-center pt-5 pb-5 pointer" (click)="flip()">
            <h4>
                <jhi-latex [equation]="card.front"></jhi-latex>
            </h4>
        </div>
        <p *ngIf="flipped" class="pointer" (click)="flip()">
            <jhi-latex [equation]="card.back"></jhi-latex>
        </p>
        <div class="row pt-1 pt-sm-2 pt-md-2 pt-xl-3">
            <div class="col-auto mr-auto">
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-outline-secondary btn-sm">
                    <span class="fa fa-pencil"></span>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary btn-sm" (click)="known(card.id)">
                    <span class="fa fa-check"></span>
                    <span jhiTranslate="flashcardsApp.randomCard.known">Known</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!card" class="p-1">
    <div class="d-none d-xl-block">
        <div class="card text-center p-3">
            <div class="card-body">
                <h3 class="card-title" jhiTranslate="flashcardsApp.randomCard.congratulations">Congratulations!</h3>
                <p class="card-text" jhiTranslate="flashcardsApp.randomCard.allCardsAreClear">All flashcards are clear.
                    😉</p>
                <button class="btn btn-success" (click)="markAllAsUnknown()">
                    <span jhiTranslate="flashcardsApp.randomCard.markEverythingAsUnknownAndRestart">
                        Mark everything as unknown and restart
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-xs-block">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title" jhiTranslate="flashcardsApp.randomCard.congratulations">Congratulations!</h4>
                <p class="card-text" jhiTranslate="flashcardsApp.randomCard.allCardsAreClear">
                    All flashcards are clear. 😉
                </p>
                <button class="btn btn-success btn-sm" (click)="markAllAsUnknown()">
                    <span jhiTranslate="flashcardsApp.randomCard.markAllAsUnknown">Mark all as unknown</span>
                </button>
            </div>
        </div>
    </div>
</div>
