<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="alert alert-danger" *ngIf="authenticationError"
                 jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-12">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <button type="submit" disabled class="btn btn-block jh-btn-social jh-btn-facebook">
                <span>Facebook</span>
            </button>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
